.wrapper {
  margin: 0 auto; // 0 = Set top and bottom margins to 0
                  // auto = set left and right margins to auto center 
  max-width: 50rem;
  padding: 1.3rem; // padding around the title
}
